*{
	box-sizing:border-box;
}

body{
	background-color:rgb(255,255,255);
	margin:0;
	width:100%;
	padding: 0;
}

#pos{
width:100%;
height:auto;
}

.mySlides{
	display:none;
}

.gambar1, .gambar2, .gambar3{
	vertical-align:middle;
}

.header{
	margin:0;
	align-items:center;
	justify-content:center;
	display:flex;
	background-color: white;
	padding:0;
	height:120px;
	top:0;
}
@media screen and (max-width: 600px){
.header{
		display:none;
		}
	}

#clock{
	color:black;
	font-size: 10px;
	text-align: center;
	width:80px;
	height:20px;
	border-radius:0 5px 5px 0;
	background-color: rgba(0,0,0,0.1);
	position: absolute;
	display: flex;
	left:0;
	top:10px;
	justify-content:center;
	align-items:center;
}

.logo{
	top: 3%;
	padding: 0;
	margin: 0;
	font-size: 75px;
	transform: rotate(-10deg);
	font-weight: bold;
	color: white;
	position: absolute;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background-color: red;
}
.tab{
	top: 10%;
	width:100%;
	display:flex;
	height: 90px;
	overflow: auto;
	white-space: nowrap;
	position:relative;
	margin:0;
	padding:0;
	margin-bottom: 1%;
	background-color: white;
	border-top: 1px solid rgba(0,0,0,0.1);
	box-shadow: 
		0 0 8px 0 rgba(0,0,0,0.2), 
		0 0 20px 0 rgba(0,0,0,0.10);
}
@media screen and (min-width: 400px){
.tab{
	justify-content:center;
	box-shadow:none;
	}
}

.tab button{
	margin:0;
	margin-top: 5px;
	height: 50px;
	cursor:pointer;
	outline:none;
	border:none;
	padding: 2px 15px;
	display: inline-block;
	background-color: transparent;
	font-size: 14px;
	text-decoration:none;
	transition:0.3s;
}
@media screen and (max-width: 600px){
	.tab button {
		font-size: 14px;
		padding: 10px 17px 5px 17px;
		margin: 0;
		}
	}

.tab button:hover{
	background-color: transparent;
	color: red;
	font-weight: bold;
	}

.tabcontent{
	display:none;
	padding:0;
	position:absolute;
	margin:0;
	top:0;
	background-color:rgb(255,255,255);
	width: 100%;
	height:2500px;
	z-index:1;
	}
@media screen and (max-width: 600px) {
	.tabcontent {
	background-color: white;
	border-right: 1px solid black;
	width: 100%;
	margin: auto;
	padding: auto;
	position: absolute;
	top: 0;
	}
}


.slideshow-container{
	width:auto;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	position:relative;
	}
/* tombol slideshow
.prev, .next{
	cursor:pointer;
	position:absolute;
	width:20px;
	height:20px;
	line-height:10px;
	font-size:10px;
	top:40%;
	transition:0.6s ease;
	border-radius:50%;
	padding:5px;
	margin:5px;
	color:rgba(0,0,0,0.5);
	background-color:white;
	user-select:none;
}

.next{
	right:0;
	border-radius:50%;
}

.prev:hover, .next:hover{
	background-color:transparent;
}

.text{
 	color:#f2f2f2;
 	font-size:15px;
 	padding:8px 12px;
 	position:absolute;
 	width:100%;
 	top:50%;
 	text-align:center;
 }
 	
 .numbertext{
 	color:#f2f2f2;
 	font-size:12px;
 	padding:8px 12px;
 	position:absolute;
 	top:0;
 	}
*/ 
.dot{
	position:relative;
	cursor:pointer;
	width:10px;
	height:10px;
	margin:0;
	background-color:#bbb;
	border-radius:50%;
	display:inline-block;
	transition:background-color 0.6s ease;
}

.active, .dot:hover{
	background-color:#717171;
}

.fade{
	-webkit-animation-name:fade;
	-webkit-animation-duration:1.5s;
	animation-name:fade;
	animation-duration:1.5s;
}

@-webkit-keyframes fade{
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade{
	from {opacity: .4}
	to {opacity: 1}
}

.gambar1{
	width:auto;
	height:500px;
	background-color:red;
	display:flex;
	justify-content:center;
	position:relative;
	align-items:center;
	margin: 5px 85px 5px 85px;
	border-radius: 10px;
}

.gambar2{
	width:auto;
	height:500px;
	background-color:green;
	display:flex;
	justify-content:center;
	position:relative;
	align-items:center;
	margin: 5px 85px 5px 85px;
	border-radius: 10px;
}

.gambar3{
	width: auto;
	height: 500px;
	background-color: blue;
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	margin: 5px 85px 5px 85px;
	border-radius: 10px;
}
@media screen and (max-width: 600px) {
.gambar1,  .gambar2, .gambar3 {
		height:250px;
		margin:0;
		border-radius: 0;
		}
	}

/*
@media only screen and(max-width:300px){
.prev, .next, .text{
	font-size:20px;
	}
}
*/
.back{
	cursor:pointer;
	border:none;
	outline:none;
	text-decoration:none;
	position:fixed;
	display:inline-block;
	left:0;
	top:0;
	margin:10px;
	padding:5px;
	color:black;
	background-color:transparent;
	z-index:2;
}

.menu{
	cursor:pointer;
	border:none;
	outline:none;
	text-decoration:none;
	position:fixed;
	display:inline-block;
	right:0;
	top:0;
	margin:10px;
	padding:5px;
	color:black;
	background-color:transparent;
	z-index:2;
	font-size: 10px;
}
/*
.sidenav{
	visibility:visible;
	display:none;
	height:100%;
	width:100px;
	border-radius:10px 0 0 10px;
	background-color:rgba(0,0,0,0.1);
	position:absolute;
	top:52px;
	margin:0;
	right:0;
	user-select:none;
	transition: .3s ease;
}
*/

.header1 {
	width:100%;
	height:50px;
	background-color: white;
	position:fixed;
	z-index:2;
	top:0;
	margin:0;
	box-shadow: 0 0 5px 2px 
			rgba(0,0,0,0.2);
}
@media screen and (max-width: 600px) {
	.header1 {
			box-shadow: 0 0 5px 2px 
			rgba(0,0,0,0.2);
	}
}

.header2{
	position: absolute;
	width: 100%;
	height: 300px;
	background-color: rgba(0,0,0,0.1);
	top: 0;
	border-bottom: 5px solid rgba(0,0,0,0.2);
	z-index: 1;
	/*
	border-bottom-left-radius: 100px 5px;
	border-bottom-right-radius: 100px 5px;
	*/
}

.logoA{
	background-color: white;
	width:150px;
	height:150px;
	border-radius:50%;
	position: absolute;
	margin: 0;
	display: flex;
	padding: 0;
	top: 30%;
	left: 20%;
	z-index: 1;
}
@media screen and (max-width: 600px){
	.logoA {
			width: 75px;
			height: 75px;
			left: 0;
			top: 50%;
			background-color: white;
			border-radius: 50%;
			position: absolute;
			display: flex;
	}
}
.toko{
	margin: 0;
	padding-top: 10%;
	font-size: 40px;
	position: relative;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 600px) {
	.toko {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 30%;
		left: 0;
		font-weight: bold;
		font-size: 18px;
		
	}
}

.bintang{
	color:orange;
	font-size:25px;
	margin: 0;
	padding: 0;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
@media screen and (max-width: 600px) {
	.bintang {
/*
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 90px;
		margin: 0;
*/
		font-size: 12px;
	}
}
.checked {
	padding: 2px;
	}
	